<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zomore.dao.CommodityDataBaseMapper">
  <select id="selectCommodityByCode" resultType="com.zomore.domain.CommodityDatabase">
    select commodity_code,commodity_name,commodity_retailPrice from commoditydatabase
     where commodity_code=#{code}
  </select>
</mapper>