<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zomore.dao.MarketingCommodityMapper">
  <resultMap id="BaseResultMap" type="com.zomore.domain.MarketingCommodity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="marketing_promotion_id" jdbcType="VARCHAR" property="marketingPromotionId" />
    <result column="marketing_commodity_id" jdbcType="VARCHAR" property="marketingCommodityId" />
    <result column="marketing_commodity_code" jdbcType="VARCHAR" property="marketingCommodityCode" />
    <result column="marketing_commodity_name" jdbcType="VARCHAR" property="marketingCommodityName" />
    <result column="marketing_commodity_type" jdbcType="VARCHAR" property="marketingCommodityType" />
    <result column="marketing_commodity_oldprice" jdbcType="VARCHAR" property="marketingCommodityOldprice" />
    <result column="marketing_type" jdbcType="INTEGER" property="marketingType" />
    <result column="marketing_commodity_discount" jdbcType="INTEGER" property="marketingCommodityDiscount" />
    <result column="marketing_commodity_price" jdbcType="VARCHAR" property="marketingCommodityPrice" />
    <result column="marketing_shop" jdbcType="VARCHAR" property="marketingShop" />
    <result column="startime" jdbcType="TIMESTAMP" property="startime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="marketing_commodity_num" jdbcType="INTEGER" property="marketingCommodityNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, marketing_promotion_id, marketing_commodity_id, marketing_commodity_code, marketing_commodity_name, 
    marketing_commodity_type, marketing_commodity_oldprice, marketing_type, marketing_commodity_discount, 
    marketing_commodity_price, marketing_shop, startime, endtime,marketing_commodity_num
  </sql>
  <select id="selectByExample" parameterType="com.zomore.domain.MarketingCommodityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from marketing_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from marketing_commodity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from marketing_commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zomore.domain.MarketingCommodityExample">
    delete from marketing_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zomore.domain.MarketingCommodity">
    insert into marketing_commodity (id, marketing_promotion_id, marketing_commodity_id, 
      marketing_commodity_code, marketing_commodity_name, 
      marketing_commodity_type, marketing_commodity_oldprice, 
      marketing_type, marketing_commodity_discount, 
      marketing_commodity_price, marketing_shop, 
      startime, endtime)
    values (#{id,jdbcType=INTEGER}, #{marketingPromotionId,jdbcType=VARCHAR}, #{marketingCommodityId,jdbcType=VARCHAR}, 
      #{marketingCommodityCode,jdbcType=VARCHAR}, #{marketingCommodityName,jdbcType=VARCHAR}, 
      #{marketingCommodityType,jdbcType=VARCHAR}, #{marketingCommodityOldprice,jdbcType=VARCHAR}, 
      #{marketingType,jdbcType=INTEGER}, #{marketingCommodityDiscount,jdbcType=INTEGER}, 
      #{marketingCommodityPrice,jdbcType=VARCHAR}, #{marketingShop,jdbcType=VARCHAR}, 
      #{startime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zomore.domain.MarketingCommodity">
    insert into marketing_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="marketingPromotionId != null">
        marketing_promotion_id,
      </if>
      <if test="marketingCommodityId != null">
        marketing_commodity_id,
      </if>
      <if test="marketingCommodityCode != null">
        marketing_commodity_code,
      </if>
      <if test="marketingCommodityName != null">
        marketing_commodity_name,
      </if>
      <if test="marketingCommodityType != null">
        marketing_commodity_type,
      </if>
      <if test="marketingCommodityOldprice != null">
        marketing_commodity_oldprice,
      </if>
      <if test="marketingType != null">
        marketing_type,
      </if>
      <if test="marketingCommodityDiscount != null">
        marketing_commodity_discount,
      </if>
      <if test="marketingCommodityPrice != null">
        marketing_commodity_price,
      </if>
      <if test="marketingShop != null">
        marketing_shop,
      </if>
      <if test="startime != null">
        startime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="marketingCommodityNum!=null">
        marketing_commodity_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="marketingPromotionId != null">
        #{marketingPromotionId,jdbcType=VARCHAR},
      </if>
      <if test="marketingCommodityId != null">
        #{marketingCommodityId,jdbcType=VARCHAR},
      </if>
      <if test="marketingCommodityCode != null">
        #{marketingCommodityCode,jdbcType=VARCHAR},
      </if>
      <if test="marketingCommodityName != null">
        #{marketingCommodityName,jdbcType=VARCHAR},
      </if>
      <if test="marketingCommodityType != null">
        #{marketingCommodityType,jdbcType=VARCHAR},
      </if>
      <if test="marketingCommodityOldprice != null">
        #{marketingCommodityOldprice,jdbcType=VARCHAR},
      </if>
      <if test="marketingType != null">
        #{marketingType,jdbcType=INTEGER},
      </if>
      <if test="marketingCommodityDiscount != null">
        #{marketingCommodityDiscount,jdbcType=INTEGER},
      </if>
      <if test="marketingCommodityPrice != null">
        #{marketingCommodityPrice,jdbcType=VARCHAR},
      </if>
      <if test="marketingShop != null">
        #{marketingShop,jdbcType=VARCHAR},
      </if>
      <if test="startime != null">
        #{startime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="marketingCommodityNum!=null">
        #{marketingCommodityNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zomore.domain.MarketingCommodityExample" resultType="java.lang.Long">
    select count(*) from marketing_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update marketing_commodity
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.marketingPromotionId != null">
        marketing_promotion_id = #{record.marketingPromotionId,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingCommodityId != null">
        marketing_commodity_id = #{record.marketingCommodityId,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingCommodityCode != null">
        marketing_commodity_code = #{record.marketingCommodityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingCommodityName != null">
        marketing_commodity_name = #{record.marketingCommodityName,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingCommodityType != null">
        marketing_commodity_type = #{record.marketingCommodityType,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingCommodityOldprice != null">
        marketing_commodity_oldprice = #{record.marketingCommodityOldprice,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingType != null">
        marketing_type = #{record.marketingType,jdbcType=INTEGER},
      </if>
      <if test="record.marketingCommodityDiscount != null">
        marketing_commodity_discount = #{record.marketingCommodityDiscount,jdbcType=INTEGER},
      </if>
      <if test="record.marketingCommodityPrice != null">
        marketing_commodity_price = #{record.marketingCommodityPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingShop != null">
        marketing_shop = #{record.marketingShop,jdbcType=VARCHAR},
      </if>
      <if test="record.startime != null">
        startime = #{record.startime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null">
        endtime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="marketingCommodityNum!=null">
        marketing_commodity_num=#{marketingCommodityNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update marketing_commodity
    set id = #{record.id,jdbcType=INTEGER},
      marketing_promotion_id = #{record.marketingPromotionId,jdbcType=VARCHAR},
      marketing_commodity_id = #{record.marketingCommodityId,jdbcType=VARCHAR},
      marketing_commodity_code = #{record.marketingCommodityCode,jdbcType=VARCHAR},
      marketing_commodity_name = #{record.marketingCommodityName,jdbcType=VARCHAR},
      marketing_commodity_type = #{record.marketingCommodityType,jdbcType=VARCHAR},
      marketing_commodity_oldprice = #{record.marketingCommodityOldprice,jdbcType=VARCHAR},
      marketing_type = #{record.marketingType,jdbcType=INTEGER},
      marketing_commodity_discount = #{record.marketingCommodityDiscount,jdbcType=INTEGER},
      marketing_commodity_price = #{record.marketingCommodityPrice,jdbcType=VARCHAR},
      marketing_shop = #{record.marketingShop,jdbcType=VARCHAR},
      startime = #{record.startime,jdbcType=TIMESTAMP},
      endtime = #{record.endtime,jdbcType=TIMESTAMP},
      marketing_commodity_num=#{marketingCommodityNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zomore.domain.MarketingCommodity">
    update marketing_commodity
    <set>
      <if test="marketingPromotionId != null">
        marketing_promotion_id = #{marketingPromotionId,jdbcType=VARCHAR},
      </if>
      <if test="marketingCommodityId != null">
        marketing_commodity_id = #{marketingCommodityId,jdbcType=VARCHAR},
      </if>
      <if test="marketingCommodityCode != null">
        marketing_commodity_code = #{marketingCommodityCode,jdbcType=VARCHAR},
      </if>
      <if test="marketingCommodityName != null">
        marketing_commodity_name = #{marketingCommodityName,jdbcType=VARCHAR},
      </if>
      <if test="marketingCommodityType != null">
        marketing_commodity_type = #{marketingCommodityType,jdbcType=VARCHAR},
      </if>
      <if test="marketingCommodityOldprice != null">
        marketing_commodity_oldprice = #{marketingCommodityOldprice,jdbcType=VARCHAR},
      </if>
      <if test="marketingType != null">
        marketing_type = #{marketingType,jdbcType=INTEGER},
      </if>
      <if test="marketingCommodityDiscount != null">
        marketing_commodity_discount = #{marketingCommodityDiscount,jdbcType=INTEGER},
      </if>
      <if test="marketingCommodityPrice != null">
        marketing_commodity_price = #{marketingCommodityPrice,jdbcType=VARCHAR},
      </if>
      <if test="marketingShop != null">
        marketing_shop = #{marketingShop,jdbcType=VARCHAR},
      </if>
      <if test="startime != null">
        startime = #{startime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="marketingCommodityNum!=null">
        marketing_commodity_num=#{marketingCommodityNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zomore.domain.MarketingCommodity">
    update marketing_commodity
    set marketing_promotion_id = #{marketingPromotionId,jdbcType=VARCHAR},
      marketing_commodity_id = #{marketingCommodityId,jdbcType=VARCHAR},
      marketing_commodity_code = #{marketingCommodityCode,jdbcType=VARCHAR},
      marketing_commodity_name = #{marketingCommodityName,jdbcType=VARCHAR},
      marketing_commodity_type = #{marketingCommodityType,jdbcType=VARCHAR},
      marketing_commodity_oldprice = #{marketingCommodityOldprice,jdbcType=VARCHAR},
      marketing_type = #{marketingType,jdbcType=INTEGER},
      marketing_commodity_discount = #{marketingCommodityDiscount,jdbcType=INTEGER},
      marketing_commodity_price = #{marketingCommodityPrice,jdbcType=VARCHAR},
      marketing_shop = #{marketingShop,jdbcType=VARCHAR},
      startime = #{startime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      marketing_commodity_num=#{marketingCommodityNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>