<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zomore.dao.MarketingCommodityTcMapper">
  <resultMap id="BaseResultMap" type="com.zomore.domain.MarketingCommodityTc">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="marketing_promotion_id" jdbcType="VARCHAR" property="marketingPromotionId" />
    <result column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
    <result column="commodity_code" jdbcType="VARCHAR" property="commodityCode" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="commodity_price" jdbcType="VARCHAR" property="commodityPrice" />
    <result column="commodity_type" jdbcType="VARCHAR" property="commodityType" />
    <result column="price" jdbcType="VARCHAR" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, marketing_promotion_id, commodity_id, commodity_code, commodity_name, commodity_price, 
    commodity_type, price
  </sql>
  <select id="selectByExample" parameterType="com.zomore.domain.MarketingCommodityTcExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from marketing_commodity_tc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from marketing_commodity_tc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from marketing_commodity_tc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zomore.domain.MarketingCommodityTcExample">
    delete from marketing_commodity_tc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zomore.domain.MarketingCommodityTc">
    insert into marketing_commodity_tc (id, marketing_promotion_id, commodity_id, 
      commodity_code, commodity_name, commodity_price, 
      commodity_type, price)
    values (#{id,jdbcType=INTEGER}, #{marketingPromotionId,jdbcType=VARCHAR}, #{commodityId,jdbcType=VARCHAR}, 
      #{commodityCode,jdbcType=VARCHAR}, #{commodityName,jdbcType=VARCHAR}, #{commodityPrice,jdbcType=VARCHAR}, 
      #{commodityType,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zomore.domain.MarketingCommodityTc">
    insert into marketing_commodity_tc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="marketingPromotionId != null">
        marketing_promotion_id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityCode != null">
        commodity_code,
      </if>
      <if test="commodityName != null">
        commodity_name,
      </if>
      <if test="commodityPrice != null">
        commodity_price,
      </if>
      <if test="commodityType != null">
        commodity_type,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="marketingPromotionId != null">
        #{marketingPromotionId,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="commodityCode != null">
        #{commodityCode,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        #{commodityPrice,jdbcType=VARCHAR},
      </if>
      <if test="commodityType != null">
        #{commodityType,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zomore.domain.MarketingCommodityTcExample" resultType="java.lang.Long">
    select count(*) from marketing_commodity_tc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update marketing_commodity_tc
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.marketingPromotionId != null">
        marketing_promotion_id = #{record.marketingPromotionId,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityId != null">
        commodity_id = #{record.commodityId,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityCode != null">
        commodity_code = #{record.commodityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityName != null">
        commodity_name = #{record.commodityName,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityPrice != null">
        commodity_price = #{record.commodityPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityType != null">
        commodity_type = #{record.commodityType,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update marketing_commodity_tc
    set id = #{record.id,jdbcType=INTEGER},
      marketing_promotion_id = #{record.marketingPromotionId,jdbcType=VARCHAR},
      commodity_id = #{record.commodityId,jdbcType=VARCHAR},
      commodity_code = #{record.commodityCode,jdbcType=VARCHAR},
      commodity_name = #{record.commodityName,jdbcType=VARCHAR},
      commodity_price = #{record.commodityPrice,jdbcType=VARCHAR},
      commodity_type = #{record.commodityType,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zomore.domain.MarketingCommodityTc">
    update marketing_commodity_tc
    <set>
      <if test="marketingPromotionId != null">
        marketing_promotion_id = #{marketingPromotionId,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="commodityCode != null">
        commodity_code = #{commodityCode,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null">
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        commodity_price = #{commodityPrice,jdbcType=VARCHAR},
      </if>
      <if test="commodityType != null">
        commodity_type = #{commodityType,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zomore.domain.MarketingCommodityTc">
    update marketing_commodity_tc
    set marketing_promotion_id = #{marketingPromotionId,jdbcType=VARCHAR},
      commodity_id = #{commodityId,jdbcType=VARCHAR},
      commodity_code = #{commodityCode,jdbcType=VARCHAR},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_price = #{commodityPrice,jdbcType=VARCHAR},
      commodity_type = #{commodityType,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>