<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zomore.dao.ZomoreCommoditySaleCommoditMapper">
  <resultMap id="BaseResultMap" type="com.zomore.domain.ZomoreCommoditySaleCommodit">
    <id column="zomore_commodity_sale_commodit_id" jdbcType="INTEGER" property="zomoreCommoditySaleCommoditId" />
    <result column="zomore_commodity_sale_id" jdbcType="VARCHAR" property="zomoreCommoditySaleId" />
    <result column="zomore_commodity_name" jdbcType="VARCHAR" property="zomoreCommodityName" />
    <result column="zomore_commodity_num" jdbcType="INTEGER" property="zomoreCommodityNum" />
    <result column="zomore_commodity_type" jdbcType="VARCHAR" property="zomoreCommodityType" />
    <result column="zomore_commodity_money" jdbcType="DOUBLE" property="zomoreCommodityMoney" />
    <result column="zomore_commodity_inmoney" jdbcType="DOUBLE" property="zomoreCommodutyInMoney" />
    <result column="zomore_commodity_discount" jdbcType="INTEGER" property="zomoreCommodityDiscount" />
    <result column="zomore_commodity_cmoney" jdbcType="DOUBLE" property="zomoreCommodityCountMoney" />
    <result column="zomore_commodity_code" jdbcType="VARCHAR" property="zomreComoditycode" />
    <result column="zomore_commodity_shop" jdbcType="VARCHAR" property="zomoreCommodityShop" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    zomore_commodity_sale_commodit_id, zomore_commodity_sale_id, zomore_commodity_name, 
    zomore_commodity_num, zomore_commodity_type, zomore_commodity_money, zomore_commodity_inmoney,
    zomore_commodity_discount,zomore_commodity_cmoney,zomore_commodity_code,zomore_commodity_shop
  </sql>
  <select id="selectByExample" parameterType="com.zomore.domain.ZomoreCommoditySaleCommoditExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zomore_commodity_sale_commodit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zomore_commodity_sale_commodit
    where zomore_commodity_sale_commodit_id = #{zomoreCommoditySaleCommoditId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zomore_commodity_sale_commodit
    where zomore_commodity_sale_commodit_id = #{zomoreCommoditySaleCommoditId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zomore.domain.ZomoreCommoditySaleCommoditExample">
    delete from zomore_commodity_sale_commodit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zomore.domain.ZomoreCommoditySaleCommodit">
    insert into zomore_commodity_sale_commodit (zomore_commodity_sale_commodit_id, zomore_commodity_sale_id, 
      zomore_commodity_name, zomore_commodity_num, 
      zomore_commodity_type, zomore_commodity_money, 
      zomore_commodity_shop)
    values (#{zomoreCommoditySaleCommoditId,jdbcType=INTEGER}, #{zomoreCommoditySaleId,jdbcType=VARCHAR}, 
      #{zomoreCommodityName,jdbcType=VARCHAR}, #{zomoreCommodityNum,jdbcType=INTEGER}, 
      #{zomoreCommodityType,jdbcType=VARCHAR}, #{zomoreCommodityMoney,jdbcType=DOUBLE}, 
      #{zomoreCommodityShop,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zomore.domain.ZomoreCommoditySaleCommodit">
    insert into zomore_commodity_sale_commodit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zomoreCommoditySaleCommoditId != null">
        zomore_commodity_sale_commodit_id,
      </if>
      <if test="zomoreCommoditySaleId != null">
        zomore_commodity_sale_id,
      </if>
      <if test="zomoreCommodityName != null">
        zomore_commodity_name,
      </if>
      <if test="zomoreCommodityNum != null">
        zomore_commodity_num,
      </if>
      <if test="zomoreCommodityType != null">
        zomore_commodity_type,
      </if>
      <if test="zomoreCommodityMoney != null">
        zomore_commodity_money,
      </if>
      <if test="zomoreCommodityShop != null">
        zomore_commodity_shop,
      </if>
      <if test="zomoreCommodutyInMoney != null">
        zomore_commodity_inmoney,
      </if>
      <if test="zomoreCommodityDiscount != null">
        zomore_commodity_discount,
      </if>
      <if test="zomoreCommodityCountMoney != null">
        zomore_commodity_cmoney,
      </if>
      <if test="zomreComoditycode != null">
        zomore_commodity_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zomoreCommoditySaleCommoditId != null">
        #{zomoreCommoditySaleCommoditId,jdbcType=INTEGER},
      </if>
      <if test="zomoreCommoditySaleId != null">
        #{zomoreCommoditySaleId,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityName != null">
        #{zomoreCommodityName,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityNum != null">
        #{zomoreCommodityNum,jdbcType=INTEGER},
      </if>
      <if test="zomoreCommodityType != null">
        #{zomoreCommodityType,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityMoney != null">
        #{zomoreCommodityMoney,jdbcType=DOUBLE},
      </if>
      <if test="zomoreCommodityShop != null">
        #{zomoreCommodityShop,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodutyInMoney != null">
       #{zomoreCommodutyInMoney,jdbcType=DOUBLE},
      </if>
      <if test="zomoreCommodityDiscount != null">
        #{zomoreCommodityDiscount,jdbcType=INTEGER},
      </if>
      <if test="zomoreCommodityCountMoney != null">
        #{zomoreCommodityCountMoney,jdbcType=DOUBLE},
      </if>
      <if test="zomreComoditycode != null">
        #{zomreComoditycode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zomore.domain.ZomoreCommoditySaleCommoditExample" resultType="java.lang.Long">
    select count(*) from zomore_commodity_sale_commodit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zomore_commodity_sale_commodit
    <set>
      <if test="record.zomoreCommoditySaleCommoditId != null">
        zomore_commodity_sale_commodit_id = #{record.zomoreCommoditySaleCommoditId,jdbcType=INTEGER},
      </if>
      <if test="record.zomoreCommoditySaleId != null">
        zomore_commodity_sale_id = #{record.zomoreCommoditySaleId,jdbcType=VARCHAR},
      </if>
      <if test="record.zomoreCommodityName != null">
        zomore_commodity_name = #{record.zomoreCommodityName,jdbcType=VARCHAR},
      </if>
      <if test="record.zomoreCommodityNum != null">
        zomore_commodity_num = #{record.zomoreCommodityNum,jdbcType=INTEGER},
      </if>
      <if test="record.zomoreCommodityType != null">
        zomore_commodity_type = #{record.zomoreCommodityType,jdbcType=VARCHAR},
      </if>
      <if test="record.zomoreCommodityMoney != null">
        zomore_commodity_money = #{record.zomoreCommodityMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.zomoreCommodityShop != null">
        zomore_commodity_shop = #{record.zomoreCommodityShop,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zomore_commodity_sale_commodit
    set zomore_commodity_sale_commodit_id = #{record.zomoreCommoditySaleCommoditId,jdbcType=INTEGER},
      zomore_commodity_sale_id = #{record.zomoreCommoditySaleId,jdbcType=VARCHAR},
      zomore_commodity_name = #{record.zomoreCommodityName,jdbcType=VARCHAR},
      zomore_commodity_num = #{record.zomoreCommodityNum,jdbcType=INTEGER},
      zomore_commodity_type = #{record.zomoreCommodityType,jdbcType=VARCHAR},
      zomore_commodity_money = #{record.zomoreCommodityMoney,jdbcType=DOUBLE},
      zomore_commodity_shop = #{record.zomoreCommodityShop,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zomore.domain.ZomoreCommoditySaleCommodit">
    update zomore_commodity_sale_commodit
    <set>
      <if test="zomoreCommoditySaleId != null">
        zomore_commodity_sale_id = #{zomoreCommoditySaleId,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityName != null">
        zomore_commodity_name = #{zomoreCommodityName,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityNum != null">
        zomore_commodity_num = #{zomoreCommodityNum,jdbcType=INTEGER},
      </if>
      <if test="zomoreCommodityType != null">
        zomore_commodity_type = #{zomoreCommodityType,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityMoney != null">
        zomore_commodity_money = #{zomoreCommodityMoney,jdbcType=DOUBLE},
      </if>
      <if test="zomoreCommodityShop != null">
        zomore_commodity_shop = #{zomoreCommodityShop,jdbcType=VARCHAR},
      </if>
    </set>
    where zomore_commodity_sale_commodit_id = #{zomoreCommoditySaleCommoditId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zomore.domain.ZomoreCommoditySaleCommodit">
    update zomore_commodity_sale_commodit
    set zomore_commodity_sale_id = #{zomoreCommoditySaleId,jdbcType=VARCHAR},
      zomore_commodity_name = #{zomoreCommodityName,jdbcType=VARCHAR},
      zomore_commodity_num = #{zomoreCommodityNum,jdbcType=INTEGER},
      zomore_commodity_type = #{zomoreCommodityType,jdbcType=VARCHAR},
      zomore_commodity_money = #{zomoreCommodityMoney,jdbcType=DOUBLE},
      zomore_commodity_shop = #{zomoreCommodityShop,jdbcType=VARCHAR}
    where zomore_commodity_sale_commodit_id = #{zomoreCommoditySaleCommoditId,jdbcType=INTEGER}
  </update>
</mapper>