<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zomore.dao.ZomoreCommodityTransferCommodityMapper">
  <resultMap id="BaseResultMap" type="com.zomore.domain.ZomoreCommodityTransferCommodity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="zomore_commodity_transfer_name" jdbcType="VARCHAR" property="zomoreCommodityTransferName" />
    <result column="zomore_commodity_transfer_code" jdbcType="VARCHAR" property="zomoreCommodityTransferCode" />
    <result column="zomore_commodity_transfer_num" jdbcType="INTEGER" property="zomoreCommodityTransferNum" />
    <result column="zomore_commodity_transfer_price" jdbcType="VARCHAR" property="zomoreCommodityTransferPrice" />
    <result column="zomore_commodity_transfer_id" jdbcType="VARCHAR" property="zomoreCommodityTransferId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, zomore_commodity_transfer_name, zomore_commodity_transfer_code, zomore_commodity_transfer_num, 
    zomore_commodity_transfer_price, zomore_commodity_transfer_id
  </sql>
  <select id="selectByExample" parameterType="com.zomore.domain.ZomoreCommodityTransferCommodityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zomore_commodity_transfer_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zomore_commodity_transfer_commodity
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zomore_commodity_transfer_commodity
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zomore.domain.ZomoreCommodityTransferCommodityExample">
    delete from zomore_commodity_transfer_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zomore.domain.ZomoreCommodityTransferCommodity">
    insert into zomore_commodity_transfer_commodity (id, zomore_commodity_transfer_name, 
      zomore_commodity_transfer_code, zomore_commodity_transfer_num, 
      zomore_commodity_transfer_price, zomore_commodity_transfer_id
      )
    values (#{id,jdbcType=VARCHAR}, #{zomoreCommodityTransferName,jdbcType=VARCHAR}, 
      #{zomoreCommodityTransferCode,jdbcType=VARCHAR}, #{zomoreCommodityTransferNum,jdbcType=INTEGER}, 
      #{zomoreCommodityTransferPrice,jdbcType=VARCHAR}, #{zomoreCommodityTransferId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zomore.domain.ZomoreCommodityTransferCommodity">
    insert into zomore_commodity_transfer_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="zomoreCommodityTransferName != null">
        zomore_commodity_transfer_name,
      </if>
      <if test="zomoreCommodityTransferCode != null">
        zomore_commodity_transfer_code,
      </if>
      <if test="zomoreCommodityTransferNum != null">
        zomore_commodity_transfer_num,
      </if>
      <if test="zomoreCommodityTransferPrice != null">
        zomore_commodity_transfer_price,
      </if>
      <if test="zomoreCommodityTransferId != null">
        zomore_commodity_transfer_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityTransferName != null">
        #{zomoreCommodityTransferName,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityTransferCode != null">
        #{zomoreCommodityTransferCode,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityTransferNum != null">
        #{zomoreCommodityTransferNum,jdbcType=INTEGER},
      </if>
      <if test="zomoreCommodityTransferPrice != null">
        #{zomoreCommodityTransferPrice,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityTransferId != null">
        #{zomoreCommodityTransferId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zomore.domain.ZomoreCommodityTransferCommodityExample" resultType="java.lang.Long">
    select count(*) from zomore_commodity_transfer_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zomore_commodity_transfer_commodity
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.zomoreCommodityTransferName != null">
        zomore_commodity_transfer_name = #{record.zomoreCommodityTransferName,jdbcType=VARCHAR},
      </if>
      <if test="record.zomoreCommodityTransferCode != null">
        zomore_commodity_transfer_code = #{record.zomoreCommodityTransferCode,jdbcType=VARCHAR},
      </if>
      <if test="record.zomoreCommodityTransferNum != null">
        zomore_commodity_transfer_num = #{record.zomoreCommodityTransferNum,jdbcType=INTEGER},
      </if>
      <if test="record.zomoreCommodityTransferPrice != null">
        zomore_commodity_transfer_price = #{record.zomoreCommodityTransferPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.zomoreCommodityTransferId != null">
        zomore_commodity_transfer_id = #{record.zomoreCommodityTransferId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zomore_commodity_transfer_commodity
    set id = #{record.id,jdbcType=VARCHAR},
      zomore_commodity_transfer_name = #{record.zomoreCommodityTransferName,jdbcType=VARCHAR},
      zomore_commodity_transfer_code = #{record.zomoreCommodityTransferCode,jdbcType=VARCHAR},
      zomore_commodity_transfer_num = #{record.zomoreCommodityTransferNum,jdbcType=INTEGER},
      zomore_commodity_transfer_price = #{record.zomoreCommodityTransferPrice,jdbcType=VARCHAR},
      zomore_commodity_transfer_id = #{record.zomoreCommodityTransferId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zomore.domain.ZomoreCommodityTransferCommodity">
    update zomore_commodity_transfer_commodity
    <set>
      <if test="zomoreCommodityTransferName != null">
        zomore_commodity_transfer_name = #{zomoreCommodityTransferName,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityTransferCode != null">
        zomore_commodity_transfer_code = #{zomoreCommodityTransferCode,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityTransferNum != null">
        zomore_commodity_transfer_num = #{zomoreCommodityTransferNum,jdbcType=INTEGER},
      </if>
      <if test="zomoreCommodityTransferPrice != null">
        zomore_commodity_transfer_price = #{zomoreCommodityTransferPrice,jdbcType=VARCHAR},
      </if>
      <if test="zomoreCommodityTransferId != null">
        zomore_commodity_transfer_id = #{zomoreCommodityTransferId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zomore.domain.ZomoreCommodityTransferCommodity">
    update zomore_commodity_transfer_commodity
    set zomore_commodity_transfer_name = #{zomoreCommodityTransferName,jdbcType=VARCHAR},
      zomore_commodity_transfer_code = #{zomoreCommodityTransferCode,jdbcType=VARCHAR},
      zomore_commodity_transfer_num = #{zomoreCommodityTransferNum,jdbcType=INTEGER},
      zomore_commodity_transfer_price = #{zomoreCommodityTransferPrice,jdbcType=VARCHAR},
      zomore_commodity_transfer_id = #{zomoreCommodityTransferId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>